<!-- extends base template for the home page-->
{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<h1>Image Repository Shopify Internship 2022 Yousef Macer</h1>
<!-- CREATE A FORM TO ALLOW USER TO SIGN UP-->
<form method="POST">
  <h3 align="center">LOG IN</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter Email"
    />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter Password"
    />
  </div>

  <br />
  <button type="submii" class="btn btn-primary">Login</button>
</form>

{% endblock %}
